.Items-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 800px;
    background-color: white;
    
    border-radius: 15px;
    margin-top: 10px;
    justify-content: left;
}


